body {
	background-color: black;
}

h3 {
	color: orange;
	font-family: 'Futura', Arial, sans-serif;
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 2em;
}

img {
	display: block;
	margin: auto;
	width:80%;
}
